@font-face {
  font-family: "DOSMyungjo";
  src: url("/src/font/DOSMyungjo.ttf") format("truetype");
  font-style: normal;
}
body {
  background-color: black;
  color: white;
  font-family: DOSMyungjo;
  font-size: 5rem;
  text-align: center;
}
